@import "../../styles/utils";
@import "../../styles/Variable";

.ui_navbar {
  background: rgba(240, 240, 240, 0.1);
  color: black;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  & * {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  & a {
    color: white;
  }

  &_item {
    position: relative;
    padding: 8px;
    cursor: pointer;
    transition: 20ms;
  }

  & .fa-ellipsis-v {
    padding: 5px 5px 5px 20px;
  }
}

.ui_submenu {
  position: absolute;
  z-index: 100;
  color: $color-secondary-2-3;
  font-weight: bold;
  background: lighten($color-secondary-2-1, 20%);
  @include shadow(middle);
  border-radius: 4px;
  margin-top: 9px;
  overflow: hidden;
  right: 4px;

  &-open {
    display: block;
  }

  &-close {
    display: none;
  }

  &_item {
    font-size: 1rem;
    transition: background 200ms;
    padding: 6px;

    &:hover {
      background: rgba($color-secondary-2-1, 1);
    }
  }
}

.bs_label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;

  @include sm-block() {
    margin: auto;
  }

  & * {
    margin: 4px;
  }

  & p {
    font-size: 1.4rem;
    color: darken($color-primary-0, 15%);
  }
}

.bs_icon {
  height: 45px;
}
