//Главный файл стилей
@import "utils";
@import "Variable";
@import "Fonts";

@include reset();

*{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#root{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & .ui_sidebar_content{
      flex-grow: 1;
    }
}

body{
    background: rgba(128, 99, 194, 0.1);
}

.ui_kit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & *{
        margin: 5px;
    }
}

.ui_content{
    display: flex;
    -webkit-user-select: none;
    user-select: none;

    .ui_card{
        flex-grow: 1;
        margin: 5px;
        width: inherit;
        height: inherit;
    }
}

.ScrollbarsCustom-TrackY{
    height: calc(100% - 2px) !important;
    top: 1px !important;
    width: 4px !important;
}

.ui_sidebar_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & .ui_content {
        flex-grow: 1;
        @include xs-block() {
            flex-basis: 100%;
            flex-shrink: 0;
        }
    }
}

//Подключение стилей компонентов
@import "Card";
@import "NotFound";





